// Define variables for your color scheme

// NO FOMO COLOR PALETTE:
$gray: #0E0000;
$blue: #374151;
$yellow: #FCE44D;
$light-gray: #F4F4F4;

// EXTRA COLORS (not to be utilized)
$orange: #FCE44D;
$green: #1EDD88;
$red: #FD1015;
