
  <div class="cards">
    <% unless @groups.empty? %>
      <% @groups.each do |group| %>
        <div class="card m-1">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-infos">
            <div>
              <h4><%= link_to group.name, group_path(group) %></h4>
            </div>
            <h2 class="card-pricing"><%= group.hourly_rate %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Sorry, we don't have that group yet! Maybe you want to add it?</p>
    <% end %>
  </div>


<div>
<%= link_to "Add a Group", new_group_path %>
</div>
