<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container align-items-center">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h2>Group Name</h2>
            <p>Description...</p>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 ">
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h2>Group Name</h2>
            <p>Description...</p>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    </div>
<div class="col-12 col-lg-3">
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h2>Group Name</h2>
            <p>Description...</p>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    </div>
<div class="col-12 col-lg-3">
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h2>Group Name</h2>
            <p>Description...</p>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    </div>
<div class="col-12 col-lg-3">
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h2>Group Name</h2>
            <p>Description...</p>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>
</div>
