.container-sm {
  display: flex;
}
.cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  flex-grow: 1;
  padding: 12px;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-position: center;
  border-radius: 1px;
  justify-content: space-around;
  border-radius: 3%;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: fill;
}

.card h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos .card-user {
  position: absolute;
  right: 10px;
  top: -20px;
  width: 40px;
}

.main-container {
  padding: 8px;
  margin: 20px;
  align-items: center;
}

.container-show {
  background-color: $light-gray;
}

.pics-container {
  flex-grow: 1;
  padding: 8px;
  display: flex;
}

.pics-main {
  // height: 100px;
  // width: 50px;
  // border-radius: 3px;
}

#main-pic {
  height: 450px;
  width: 600px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.pics-others {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-radius: 3px;
  padding: 8px;
}

.card-info-booking {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
}

#small-pic {
  height: 220px;
  width: 250px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.container-show-user {
  margin: 100px;
  display: flex;
}

.card-user-info {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-user {
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
  display: flex;
  padding: 50px;
}

.card-user h2 {
  font-size: 25px;
}

.card-user p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 12px;
  margin-top: 8px;
  margin-left: 8px;
}

.card-user .card-user-infos {
  margin-left: 8px;
}

.card-user img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.card-user-account-infos {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 12px;
  margin-top: 8px;
  margin-left: 8px;
}

.card-user-account-infos img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-user-account-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// .card-product .card-product-infos {
//   padding: 16px;
// }
